<h1>Show Marketer</h1>

<ul>

  <li>
    <strong>Stand uid:</strong>
    <%= @marketer.stand_uid %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.marketer_path(@conn, :edit, @marketer) %></span>
<span><%= link "Back", to: Routes.marketer_path(@conn, :index) %></span>
