<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tasks:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <!--<li class="nav-item">
                                        <a mat-button class="nav-link active" href="#sales" data-toggle="tab">
                                            <i class="material-icons">trending_up</i> Sales
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>-->
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#sales" data-toggle="tab">
                                            <i class="material-icons">trending_up</i> Sales
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#notyetdispatched" data-toggle="tab">
                                            <i class="material-icons">content_copy</i>Parcels Not Yet Dispatched
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#collected" data-toggle="tab">
                                            <i class="material-icons">store</i> Parcels Collected
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#uncollected" data-toggle="tab">
                                            <i class="material-icons">warning</i> Uncollected Parcels
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#lost" data-toggle="tab">
                                            <i class="material-icons">info_outline</i> Lost Parcels
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="sales">
                             <div class="row">
                                <button mat-raised-button matTooltip="Generate Report" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-lg btn-just-icon" (click)="onExportXLSX()">
                                    <i class="material-icons">trending_down</i>
                                </button>
                                </div>
                                <form class="date-block" [formGroup]="filterForm">
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="fromDate"
                                                   placeholder="From Date"
                                                   formControlName="fromDate">
                                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                            <mat-datepicker #fromDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="toDate"
                                                   placeholder="To Date"
                                                   formControlName="toDate">
                                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                            <mat-datepicker #toDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <button mat-button color="primary" class="primary" (click)="applyDateFilter()">Submit</button>
                                </form>
                                <!--<mat-form-field [formGroup]="filterForm">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>-->
                                <table #dataTable mat-table [dataSource]="dataSourceSales" matSort class="mat-elevation-z8 display">

                                    <ng-container matColumnDef="station">
                                        <th mat-header-cell *matHeaderCellDef> Station </th>
                                        <td mat-cell *matCellDef="let element"> {{element.station}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actual_sales">
                                        <th mat-header-cell *matHeaderCellDef>Actual Sales </th>
                                        <td mat-cell *matCellDef="let element"> {{element.actual_sales}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="target_sales">
                                        <th mat-header-cell *matHeaderCellDef> Target Sales </th>
                                        <td mat-cell *matCellDef="let element"> {{element.target_sales}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="archived">
                                        <th mat-header-cell *matHeaderCellDef> Archived </th>
                                        <td mat-cell *matCellDef="let element"> {{element.archived}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSales"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSales;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                            </div>

                            <div class="tab-pane" id="notyetdispatched">
                                <div class="row">
                                    <button mat-raised-button matTooltip="Generate Report" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-lg btn-just-icon" (click)="onExportXLSXNotDispatched()">
                                        <i class="material-icons">trending_down</i>
                                    </button>
                                </div>
                                <form class="date-block" [formGroup]="filterFormNotDispatched">
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="fromDateNotDispatched"
                                                   placeholder="From Date"
                                                   formControlName="fromDateNotDispatched">
                                            <mat-datepicker-toggle matSuffix [for]="fromDateNotDispatched"></mat-datepicker-toggle>
                                            <mat-datepicker #fromDateNotDispatched></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="toDateNotDispatched"
                                                   placeholder="To Date"
                                                   formControlName="toDateNotDispatched">
                                            <mat-datepicker-toggle matSuffix [for]="toDateNotDispatched"></mat-datepicker-toggle>
                                            <mat-datepicker #toDateNotDispatched></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <button mat-button color="primary" class="primary" (click)="applyDateFilterNotDispatched()">Submit</button>
                                </form>
                                <!--<mat-form-field [formGroup]="filterForm">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>-->
                                <table #dataTableNotDispatched mat-table [dataSource]="dataSourceNotDispatched" matSort class="mat-elevation-z8 display">

                                    <ng-container matColumnDef="receipt_no">
                                        <th mat-header-cell *matHeaderCellDef> Receipt Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.receipt_no}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="parcel_name">
                                        <th mat-header-cell *matHeaderCellDef>Parcel Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.parcel_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="destination">
                                        <th mat-header-cell *matHeaderCellDef> Destination </th>
                                        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="origin_station">
                                        <th mat-header-cell *matHeaderCellDef> Origin Station </th>
                                        <td mat-cell *matCellDef="let element"> {{element.origin_station}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sender_name">
                                        <th mat-header-cell *matHeaderCellDef> Sender Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.sender_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sender_phone">
                                        <th mat-header-cell *matHeaderCellDef> Sender Phone Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.sender_phone}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="receiver_name">
                                        <th mat-header-cell *matHeaderCellDef> Receiver Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.receiver_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="receiver_phone">
                                        <th mat-header-cell *matHeaderCellDef> Receiver Phone Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.receiver_phone}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="date_sent">
                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.date_sent | date: 'dd/MM/yyyy'}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsNotDispatched"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsNotDispatched;"></tr>
                                </table>
                                <mat-paginator #paginatorNotDispatched [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                            </div>

                            <div class="tab-pane" id="collected">
                                 <div class="row">
                                     <button mat-raised-button matTooltip="Generate Report" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-lg btn-just-icon" (click)="onExportXLSXCollected()">
                                         <i class="material-icons">trending_down</i>
                                     </button>
                                 </div>
                                 <form class="date-block" [formGroup]="filterFormCollected">
                                     <div class="date-block__list">
                                         <mat-form-field>
                                             <input matInput
                                                    [matDatepicker]="fromDateCollected"
                                                    placeholder="From Date"
                                                    formControlName="fromDateCollected">
                                             <mat-datepicker-toggle matSuffix [for]="fromDateCollected"></mat-datepicker-toggle>
                                             <mat-datepicker #fromDateCollected></mat-datepicker>
                                         </mat-form-field>
                                     </div>
                                     <div class="date-block__list">
                                         <mat-form-field>
                                             <input matInput
                                                    [matDatepicker]="toDateCollected"
                                                    placeholder="To Date"
                                                    formControlName="toDateCollected">
                                             <mat-datepicker-toggle matSuffix [for]="toDateCollected"></mat-datepicker-toggle>
                                             <mat-datepicker #toDateCollected></mat-datepicker>
                                         </mat-form-field>
                                     </div>
                                     <button mat-button color="primary" class="primary" (click)="applyDateFilterCollected()">Submit</button>
                                 </form>
                                <!--<mat-form-field [formGroup]="filterForm">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>-->
                                <table #dataTableCollected mat-table [dataSource]="dataSourceCollected" matSort class="mat-elevation-z8 display">

                                    <ng-container matColumnDef="receipt_no">
                                        <th mat-header-cell *matHeaderCellDef> Receipt Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.receipt_no}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="parcel_name">
                                        <th mat-header-cell *matHeaderCellDef>Parcel Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.parcel_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="destination">
                                        <th mat-header-cell *matHeaderCellDef> Destination </th>
                                        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="origin_station">
                                        <th mat-header-cell *matHeaderCellDef> Origin Station </th>
                                        <td mat-cell *matCellDef="let element"> {{element.origin_station}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sender_name">
                                        <th mat-header-cell *matHeaderCellDef> Sender Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.sender_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sender_phone">
                                        <th mat-header-cell *matHeaderCellDef> Sender Phone Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.sender_phone}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="receiver_name">
                                        <th mat-header-cell *matHeaderCellDef> Receiver Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.receiver_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="receiver_phone">
                                        <th mat-header-cell *matHeaderCellDef> Receiver Phone Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.receiver_phone}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="date_sent">
                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.date_sent | date: 'dd/MM/yyyy'}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCollected"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCollected;"></tr>
                                </table>
                                <mat-paginator #paginatorCollected [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                            </div>


                            <div class="tab-pane" id="uncollected">
                                <div class="row">
                                    <button mat-raised-button matTooltip="Generate Report" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-lg btn-just-icon" (click)="onExportXLSXUncollected()">
                                        <i class="material-icons">trending_down</i>
                                    </button>
                                </div>
                                <form class="date-block" [formGroup]="filterFormUncollected">
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="fromDateUncollected"
                                                   placeholder="From Date"
                                                   formControlName="fromDateUncollected">
                                            <mat-datepicker-toggle matSuffix [for]="fromDateUncollected"></mat-datepicker-toggle>
                                            <mat-datepicker #fromDateUncollected></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="toDateUncollected"
                                                   placeholder="To Date"
                                                   formControlName="toDateUncollected">
                                            <mat-datepicker-toggle matSuffix [for]="toDateUncollected"></mat-datepicker-toggle>
                                            <mat-datepicker #toDateUncollected></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <button mat-button color="primary" class="primary" (click)="applyDateFilterUncollected()">Submit</button>
                                </form>
                                <!--<mat-form-field [formGroup]="filterForm">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>-->
                                <table #dataTableUncollected mat-table [dataSource]="dataSourceUncollected" matSort class="mat-elevation-z8 display">

                                    <ng-container matColumnDef="receipt_no">
                                        <th mat-header-cell *matHeaderCellDef> Receipt Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.receipt_no}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="parcel_name">
                                        <th mat-header-cell *matHeaderCellDef>Parcel Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.parcel_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="destination">
                                        <th mat-header-cell *matHeaderCellDef> Destination </th>
                                        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="origin_station">
                                        <th mat-header-cell *matHeaderCellDef> Origin Station </th>
                                        <td mat-cell *matCellDef="let element"> {{element.origin_station}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sender_name">
                                        <th mat-header-cell *matHeaderCellDef> Sender Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.sender_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sender_phone">
                                        <th mat-header-cell *matHeaderCellDef> Sender Phone Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.sender_phone}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="receiver_name">
                                        <th mat-header-cell *matHeaderCellDef> Receiver Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.receiver_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="receiver_phone">
                                        <th mat-header-cell *matHeaderCellDef> Receiver Phone Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.receiver_phone}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="date_sent">
                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.date_sent | date: 'dd/MM/yyyy'}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsUncollected"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsUncollected;"></tr>
                                </table>
                                <mat-paginator #paginatorUncollected [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                            </div>



                            <div class="tab-pane" id="lost">
                                <div class="row">
                                    <button mat-raised-button matTooltip="Generate Report" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-lg btn-just-icon" (click)="onExportXLSXLost()">
                                        <i class="material-icons">trending_down</i>
                                    </button>
                                </div>
                                <form class="date-block" [formGroup]="filterFormLost">
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="fromDateLost"
                                                   placeholder="From Date"
                                                   formControlName="fromDateLost">
                                            <mat-datepicker-toggle matSuffix [for]="fromDateLost"></mat-datepicker-toggle>
                                            <mat-datepicker #fromDateLost></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="toDateLost"
                                                   placeholder="To Date"
                                                   formControlName="toDateLost">
                                            <mat-datepicker-toggle matSuffix [for]="toDateLost"></mat-datepicker-toggle>
                                            <mat-datepicker #toDateLost></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <button mat-button color="primary" class="primary" (click)="applyDateFilterLost()">Submit</button>
                                </form>
                                <!--<mat-form-field [formGroup]="filterForm">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>-->
                                <table #dataTableLost mat-table [dataSource]="dataSourceLost" matSort class="mat-elevation-z8 display">

                                    <ng-container matColumnDef="receipt_no">
                                        <th mat-header-cell *matHeaderCellDef> Receipt Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.receipt_no}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="parcel_name">
                                        <th mat-header-cell *matHeaderCellDef>Parcel Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.parcel_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="destination">
                                        <th mat-header-cell *matHeaderCellDef> Destination </th>
                                        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="origin_station">
                                        <th mat-header-cell *matHeaderCellDef> Origin Station </th>
                                        <td mat-cell *matCellDef="let element"> {{element.origin_station}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sender_name">
                                        <th mat-header-cell *matHeaderCellDef> Sender Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.sender_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sender_phone">
                                        <th mat-header-cell *matHeaderCellDef> Sender Phone Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.sender_phone}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="receiver_name">
                                        <th mat-header-cell *matHeaderCellDef> Receiver Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.receiver_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="receiver_phone">
                                        <th mat-header-cell *matHeaderCellDef> Receiver Phone Number </th>
                                        <td mat-cell *matCellDef="let element"> {{element.receiver_phone}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="date_sent">
                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.date_sent | date: 'dd/MM/yyyy'}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsLost"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsLost;"></tr>
                                </table>
                                <mat-paginator #paginatorLost [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                            </div>

                            <!--<div class="tab-pane" id="collected">
                                <div class="row">
                                    <button mat-raised-button matTooltip="Generate Report" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-lg btn-just-icon" (click)="onExportXLSX()">
                                        <i class="material-icons">trending_down</i>
                                    </button>
                                </div>
                                <form class="date-block" [formGroup]="filterForm">
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="fromDate"
                                                   placeholder="From Date"
                                                   formControlName="fromDate">
                                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                            <mat-datepicker #fromDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="toDate"
                                                   placeholder="To Date"
                                                   formControlName="toDate">
                                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                            <mat-datepicker #toDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <button mat-button color="primary" class="primary" (click)="applyDateFilter()">Submit</button>
                                </form>
                                &lt;!&ndash;<mat-form-field [formGroup]="filterForm">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>&ndash;&gt;
                                <table #dataTable mat-table [dataSource]="dataSourceSales" matSort class="mat-elevation-z8 display">

                                    <ng-container matColumnDef="station">
                                        <th mat-header-cell *matHeaderCellDef> Station </th>
                                        <td mat-cell *matCellDef="let element"> {{element.station}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actual_sales">
                                        <th mat-header-cell *matHeaderCellDef>Actual Sales </th>
                                        <td mat-cell *matCellDef="let element"> {{element.actual_sales}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="target_sales">
                                        <th mat-header-cell *matHeaderCellDef> Target Sales </th>
                                        <td mat-cell *matCellDef="let element"> {{element.target_sales}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="archived">
                                        <th mat-header-cell *matHeaderCellDef> Archived </th>
                                        <td mat-cell *matCellDef="let element"> {{element.archived}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSales"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSales;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                            </div>

                            <div class="tab-pane" id="uncollected">
                                <div class="row">
                                    <button mat-raised-button matTooltip="Generate Report" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-lg btn-just-icon" (click)="onExportXLSX()">
                                        <i class="material-icons">trending_down</i>
                                    </button>
                                </div>
                                <form class="date-block" [formGroup]="filterForm">
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="fromDate"
                                                   placeholder="From Date"
                                                   formControlName="fromDate">
                                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                            <mat-datepicker #fromDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="toDate"
                                                   placeholder="To Date"
                                                   formControlName="toDate">
                                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                            <mat-datepicker #toDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <button mat-button color="primary" class="primary" (click)="applyDateFilter()">Submit</button>
                                </form>
                                &lt;!&ndash;<mat-form-field [formGroup]="filterForm">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>&ndash;&gt;
                                <table #dataTable mat-table [dataSource]="dataSourceSales" matSort class="mat-elevation-z8 display">

                                    <ng-container matColumnDef="station">
                                        <th mat-header-cell *matHeaderCellDef> Station </th>
                                        <td mat-cell *matCellDef="let element"> {{element.station}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actual_sales">
                                        <th mat-header-cell *matHeaderCellDef>Actual Sales </th>
                                        <td mat-cell *matCellDef="let element"> {{element.actual_sales}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="target_sales">
                                        <th mat-header-cell *matHeaderCellDef> Target Sales </th>
                                        <td mat-cell *matCellDef="let element"> {{element.target_sales}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="archived">
                                        <th mat-header-cell *matHeaderCellDef> Archived </th>
                                        <td mat-cell *matCellDef="let element"> {{element.archived}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSales"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSales;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                            </div>

                            <div class="tab-pane" id="lost">
                                <div class="row">
                                    <button mat-raised-button matTooltip="Generate Report" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-lg btn-just-icon" (click)="onExportXLSX()">
                                        <i class="material-icons">trending_down</i>
                                    </button>
                                </div>
                                <form class="date-block" [formGroup]="filterForm">
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="fromDate"
                                                   placeholder="From Date"
                                                   formControlName="fromDate">
                                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                            <mat-datepicker #fromDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="date-block__list">
                                        <mat-form-field>
                                            <input matInput
                                                   [matDatepicker]="toDate"
                                                   placeholder="To Date"
                                                   formControlName="toDate">
                                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                            <mat-datepicker #toDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <button mat-button color="primary" class="primary" (click)="applyDateFilter()">Submit</button>
                                </form>
                                &lt;!&ndash;<mat-form-field [formGroup]="filterForm">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>&ndash;&gt;
                                <table #dataTable mat-table [dataSource]="dataSourceSales" matSort class="mat-elevation-z8 display">

                                    <ng-container matColumnDef="station">
                                        <th mat-header-cell *matHeaderCellDef> Station </th>
                                        <td mat-cell *matCellDef="let element"> {{element.station}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actual_sales">
                                        <th mat-header-cell *matHeaderCellDef>Actual Sales </th>
                                        <td mat-cell *matCellDef="let element"> {{element.actual_sales}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="target_sales">
                                        <th mat-header-cell *matHeaderCellDef> Target Sales </th>
                                        <td mat-cell *matCellDef="let element"> {{element.target_sales}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="archived">
                                        <th mat-header-cell *matHeaderCellDef> Archived </th>
                                        <td mat-cell *matCellDef="let element"> {{element.archived}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSales"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSales;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
