<h1>Show Bus terminus</h1>

<ul>

  <li>
    <strong>Liscense plate:</strong>
    <%= @bus_terminus.liscense_plate %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.bus_terminus_path(@conn, :edit, @bus_terminus) %></span>
<span><%= link "Back", to: Routes.bus_terminus_path(@conn, :index) %></span>
