<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title() %></title>
    <!-- Global stylesheets -->
    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/images/icon.png") %>">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="<%= Routes.static_path(@conn, "/css/material/icons/icomoon/styles.css") %>" rel="stylesheet" type="text/css">
    <link href="<%= Routes.static_path(@conn, "/css/material/bootstrap.css") %>" rel="stylesheet" type="text/css">
    <link href="<%= Routes.static_path(@conn, "/css/material/core.css") %>" rel="stylesheet" type="text/css">
    <link href="<%= Routes.static_path(@conn, "/css/material/components.css") %>" rel="stylesheet" type="text/css">
    <link href="<%= Routes.static_path(@conn, "/css/material/colors.css") %>" rel="stylesheet" type="text/css">
    <link href="<%= Routes.static_path(@conn, "/js/datatables/css/jquery.datatables.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= Routes.static_path(@conn, "/css/custom.css") %>" rel="stylesheet" type="text/css">
    <link href="<%= Routes.static_path(@conn, "/css/w3.css") %>" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/jsapi.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/ChartKick.js") %>"></script>
    <!-- /global stylesheets -->
  </head>

<style>

</style>

  <body class="navbar-bottom">
    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo navbar-fixed-top">
    	<div class="navbar-header">
    		<a class="navbar-brand" href="#">
                <img src="<%= Routes.static_path(@conn, "/images/logo/2.png") %>" class="img-fluid" style="width:150px;height:80px;margin-bottom: 50px" alt="NapsaLogo">
            </a>

    		<ul class="nav navbar-nav visible-xs-block">
    			<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <%= if @user.role == "ADMIN" do %>
    			<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
                <% end %>
    		</ul>

    	</div>

    	<div class="navbar-collapse collapse" id="navbar-mobile">

            <%= if @user.role == "ADMIN" do %>
    		<ul class="nav navbar-nav">
    			 <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
    		</ul>
            <% end %>

    		<ul class="nav navbar-nav navbar-right" >
    			<li class="dropdown dropdown-user">
    				<a class="dropdown-toggle" data-toggle="dropdown">
    					<img src="<%= Routes.static_path(@conn, "/images/material/avatar/1.png") %>" alt="">
    					<span>USER: <%= @user.username %> -- ROLE: <%= @user.operator_role %></span>
    					<i class="caret"></i>
    				</a>

    				<ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a onclick="change_password()">
                                <i class="icon-lock2"></i> Change password
                            </a>
                        </li>
                        <li>
                            <a href="<%= Routes.session_path(@conn, :logout) %>">
                                <i class="icon-switch2"></i> Logout
                            </a>
                        </li>
    				</ul>
    			</li>
    		</ul>
    	</div>
    </div>
    <!-- /main navbar -->

    <br><br><br>
    	<!-- Page container -->
    	<div class="page-container">

    		<!-- Page content -->
    		<div class="page-content" >

                <!-- ############# ADMIN SIDE-BAR ########### -->
                <%= if @user.role == "ADMIN" or @user.role == "SADMIN" do %>
    			<div class="sidebar sidebar-main sidebar-default" style="height: 100%" >
    				<div class="sidebar-content">

    					<!-- Main navigation -->
    					<div class="sidebar-category sidebar-category-visible">
    						<div class="sidebar-user-material">
    							<div class="category-content">
    								<div class="sidebar-user-material-content">
    									<img src="<%= Routes.static_path(@conn, "/images/material/avatar/1.png") %>" class="img-circle" width="90" height="90" alt="">
    									<h6 style="color:rgb(0,0,0);"> <%= @user.username %> </h6>
    									<span class="text-size-small" style="color:rgb(0,0,0);">Lusaka, Zambia.</span>
    								</div>
    							</div>

    						</div>

    						<div class="category-content no-padding">
    							<ul class="navigation navigation-main navigation-accordion">

                                    <%= if @user.role == "ADMIN" or @user.role == "SADMIN" do %>
                                    <li>
    								    <a href="<%= Routes.user_path(@conn, :index)%>">

                                            <i style="color:orange;" class="icon-home"></i> <span>Dashboard</span>
                                        </a>
    								</li>

                                    <%= if access(@user.id, 104) do %>
                                        <li>
                                            <a href="<%= Routes.route_path(@conn, :index)%>">
                                                <i style="color:orange;" class="icon-road"></i> <span>Travel Routes</span>
                                            </a>
                                        </li>
                                    <% end %>


                                    <li hidden>
                                        <a href="<%= Routes.bookings_path(@conn, :index)%>">
                                            <i style="color:orange;" class="icon-ticket"></i> <span>Bookings</span>
                                        </a>
                                    </li>


                                    <li hidden>
                                        <a href="#"><i style="color:orange;" class="icon-user"></i> <span>Teller</span></a>
                                        <ul>
                                            <li>
                                                <a href="/teller">
                                                    Manage Tellers
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <%= if access(@user.id, 108) do %>
                                        <li>
                                            <a href="#"><i style="color:orange;" class="icon-envelop2"></i> <span>Reports</span></a>
                                            <ul>
                                                <li>
                                                    <%= link "Reports", to: Routes.teller_path(@conn, :reports) %>
                                                </li>
                                            </ul>
                                        </li>
                                    <% end %>



                                        <%= if @user.role == "SADMIN" or @user.role == "ADMIN" do %>
                                            <%= if access(@user.id, 109) do %>
                                                <li>
                                                    <a href="#"><i style="color:orange;" class="icon-bus"></i> <span>Bus Management</span></a>
                                                    <ul>
                                                        <li>
                                                            <%= link "Manage Buses", to: Routes.bus_terminus_path(@conn, :bus_approval) %>
                                                        </li>
                                                    </ul>
                                                </li>
                                            <% end %>

                                            <%= if access(@user.id, 113) do %>
                                                <li>
                                                    <a href="#"><i style="color:orange;" class="icon-stack2"></i> <span>Market Operations</span></a>
                                                    <ul>
                                                        <%= if access(@user.id, 117) do %>
                                                            <li><%= link "Market Management", to: Routes.marketer_path(@conn, :index) %></li>
                                                        <% end %>

                                                        <%= if access(@user.id, 116) do %>
                                                            <li><%= link "Shop Allocation", to: Routes.marketer_path(@conn, :standallocation) %></li>
                                                        <% end %>


                                                    </ul>
                                                </li>
                                            <% end %>



                                            <%= if @user.role == "SADMIN" do %>
                                                <li>
                                                    <a href="#"  onclick="ticketing_container()"><i style="color:orange;" class="icon-ticket" onclick="ticketing_container()"></i> <span onclick="ticketing_container()">Ticketing</span></a>
                                                </li>
                                            <% end %>


                                        <% end %>



    								<% end %>

                                    <%= if @user.role == "BOP" do %>

                                    <li>
                                        <a href="#"><i style="color:orange;" class="icon-bus"></i> <span>Bus Management</span></a>
                                        <ul>
                                            <li>
                                                <%= link "Manage Buses", to: Routes.bus_terminus_path(@conn, :bus_approval) %>
                                            </li>
                                        </ul>
                                    </li>
    								<li hidden>
    									<a href="#"><i style="color:orange;" class="icon-stop    "></i> <span>Terminus</span></a>
    									<ul>
    										<li><%= link "Management", to: Routes.bus_terminus_path(@conn, :index) %></li>
    									</ul>
    								</li>
    								<% end %>

    								<%= if @user.role == "MOP" or @user.role == "SADMIN" do %>
    								<li>
                                        <a href="#"><i style="color:orange;" class="icon-stack2"></i> <span>Market Operations</span></a>
                                        <ul>
                                            <li><%= link "Management", to: Routes.marketer_path(@conn, :index) %></li>
                                            <li><%= link "Stand Allocation", to: Routes.marketer_path(@conn, :standallocation) %></li>
                                        </ul>
                                    </li>
                                    <% end %>
                                    <%= if @user.role == "ADMIN" or @user.role == "SADMIN" do %>
                                        <%= if access(@user.id, 118) do %>
                                            <li>
                                                <a href="#"><i style="color:orange;" class="icon-stack2"></i> <span>Authorization</span></a>
                                                <ul>
                                                    <%= if access(@user.id, 119) do %>
                                                        <li><%= link "Pending Checker Requests", to: Routes.maker_checker_path(@conn, :index) %></li>
                                                    <% end %>

                                                </ul>
                                            </li>
                                        <% end %>

                                        <%= if access(@user.id, 120) do %>
                                            <li>
                                                <a href="#"><i style="color:orange;" class="icon-key"></i> <span>Security</span></a>
                                                <ul>
                                                    <%= if access(@user.id, 121) do %>
                                                        <li><%= link "Roles and Permissions", to: Routes.user_management_path(@conn, :redirect, view: "22K2yQRYjgb4i" ,sigma: :kenos) %></li>
                                                    <% end %>

                                                    <%= if access(@user.id, 121) do %>
                                                    <li><%= link "Settings", to: Routes.user_path(@conn, :settings) %></li>
                                                    <% end %>
                                                </ul>
                                            </li>
                                        <% end %>

                                        <%= if access(@user.id, 129) do %>
                                            <li>
                                            <a href="#"><i style="color:orange;" class="icon-home5"></i> <span> Terminus Management </span></a>
                                            <ul>
                                                <%= if access(@user.id, 132) do %>
                                                <li><%= link "Tellers", to: Routes.teller_path(@conn, :till_teller_manage, view: "22K2yQRYjgb4i", sigma: :kenos) %></li>
                                                <% end %>

                                                <%= if access(@user.id, 130) do %>
                                                <li>
                                                    <%= link "Register Staff", to: Routes.user_path(@conn, :new_teller) %>
                                                </li>
                                                <% end %>

                                                <%= if access(@user.id, 131) do %>
                                                <li>
                                                    <%= link "Flexi-Bus Operator", to: Routes.user_path(@conn, :new_staff) %>
                                                </li>
                                                <% end %>

                                            </ul>

                                        </li>
                                        <% end %>

                                    <% end %>
    								<!--
    								    /main
    								 -->
    							</ul>
    						</div>
    					</div>
    					<!-- /main navigation -->

    				</div>
    			</div>
                <!-- ############ END ADMIN-SIDE-BAR ######### -->
                <% end %>

                <!-- ############# MOP SIDE-BAR ########### -->
                <%= if @user.role == "MOP" do %>
                <div class="sidebar sidebar-main sidebar-default">
                    <div class="sidebar-content">

                        <!-- Main navigation -->
                        <div class="sidebar-category sidebar-category-visible">
                            <div class="sidebar-user-material">
                                <div class="category-content">
                                    <div class="sidebar-user-material-content">
                                        <img src="<%= Routes.static_path(@conn, "/images/material/avatar/4.png") %>" class="img-circle" width="90" height="90" alt="Farmer Avatar">
                                        <h6 style="color:rgb(0,0,0);"> <%= @user.username %> </h6>
                                        <span class="text-size-small" style="color:rgb(0,0,0);">Lusaka, Zambia.</span>
                                    </div>
                                </div>

                            </div>

                            <div class="category-content no-padding">
                                <ul class="navigation navigation-main navigation-accordion">

                                    <%= if @user.role == "MOP" do %>
                                    <li>
                                        <a href="<%= Routes.user_path(@conn, :index)%>">

                                            <i style="color:orange;" class="icon-home"></i> <span>Dashboard</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#documentation" data-toggle="tab">
                                            <i style="color:orange;" class="icon-book position-left"></i> Documentation
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#registerMarketeers" data-toggle="tab">
                                            <i style="color:orange;" class="icon-user position-left"></i> Register Marketeers
                                        </a>
                                    </li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <% end %>

                                </ul>
                            </div>
                        </div>
                        <!-- /main navigation -->

                    </div>
                </div>
                <% end %>
                <!-- ############ END MOP-SIDE-BAR ######### -->

                <!-- ############# BOP SIDE-BAR ########### -->
                <%= if @user.role == "BOP" do %>
                <div class="sidebar sidebar-main sidebar-default">
                    <div class="sidebar-content">

                        <!-- Main navigation -->
                        <div class="sidebar-category sidebar-category-visible">
                            <div class="sidebar-user-material">
                                <div class="category-content">
                                    <div class="sidebar-user-material-content">
                                        <img src="<%= Routes.static_path(@conn, "/images/material/avatar/3.png") %>" class="img-circle" width="90" height="90" alt="Farmer Avatar">
                                        <h6 style="color:rgb(0,0,0);"> <%= @user.username %> </h6>
                                        <span class="text-size-small" style="color:rgb(0,0,0);">Lusaka, Zambia.</span>
                                    </div>
                                </div>

                            </div>
                            <div class="category-content no-padding">
                                <ul class="navigation navigation-main navigation-accordion">

                                    <%= if @user.role == "BOP" do %>
                                    <li>
                                        <a href="<%= Routes.user_path(@conn, :index)%>">
                                            <i style="color:orange;" class="icon-home"></i> <span >Dashboard</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#BOPdocumentation" data-toggle="tab">
                                            <i style="color:orange;" class="icon-book position-left"></i> Documentation
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#BOPregisterBus" data-toggle="tab">
                                            <i style="color:orange;" class="icon-car position-left"></i> Register Buses
                                        </a>
                                    </li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <% end %>

                                </ul>
                            </div>
                        </div>
                        <!-- /main navigation -->

                    </div>
                </div>
                <% end %>
                <!-- ############ END BOP-SIDE-BAR ######### -->

                <!-- ############# TOP SIDE-BAR ########### -->
                <%= if @user.role == "TOP" or @user.role == "CCOP" or @user.role == "CCOP"  do %>
                <div class="sidebar sidebar-main sidebar-default">
                    <div class="sidebar-content">

                        <!-- Main navigation -->
                        <div class="sidebar-category sidebar-category-visible">
                            <div class="sidebar-user-material">
                                <div class="category-content">
                                    <div class="sidebar-user-material-content">
                                        <img src="<%= Routes.static_path(@conn, "/images/material/avatar/3.png") %>" class="img-circle" width="90" height="90" alt="Farmer Avatar">
                                        <h6 style="color:rgb(0,0,0);"> <%= @user.username %> </h6>
                                        <span class="text-size-small" style="color:rgb(0,0,0);">Lusaka, Zambia.</span>
                                    </div>
                                </div>

                            </div>

                            <div class="category-content no-padding">
                                <ul class="navigation navigation-main navigation-accordion">

                                    <%= if @user.role == "TOP" or @user.role == "CCOP" do %>
                                    <li>

                                        <%= link "Dashboard", to: Routes.user_path(@conn, :index) %>
                                    </li>

                                    <li>
                                        <%= link "Documentation", to: Routes.teller_path(@conn, :documentation) %>
                                    </li>

                                    <%= if access(@user.id, 108) do %>
                                        <li>
                                            <%= link "Reports", to: Routes.teller_path(@conn, :reports) %>
                                        </li>
                                    <% end %>

                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <li><br></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                        <!-- /main navigation -->
                    </div>
                </div>
                <% end %>
                <!-- ############ END TOP-SIDE-BAR ######### -->

    			  <main role="main" id="renderApp" class="container-fluid">
                        <%= if get_flash(@conn, :info) do %>
                          <div class="alert alert-success alert-styled-left">
                          <button type="button" onClick="sweetAlert()" class="close" data-dismiss="alert">&times; <span class="sr-only">Close</span></button>
                          <%= get_flash(@conn, :info) %>
                          </div>
                        <% end %>
                          <%= if get_flash(@conn, :error) do %>
                              <div class="alert alert-danger alert-styled-left">
                              <button type="button" class="close"  data-dismiss="alert">&times; <span class="sr-only">Close</span></button>
                              Opps! <%= get_flash(@conn, :error) %>
                              </div>
                          <% end %>
                      <input type="hidden" name="_csrf_token" id="csrf" value="<%= Plug.CSRFProtection.get_csrf_token() %>">
                      <%= @inner_content %>
                  </main>

    		</div>
    		<!-- /page content -->
    	</div>

    	<!-- /page container -->


    	<!-- Footer -->
    	<div class="navbar w3-indigo navbar-fixed-bottom footer">
            <div class="container">
    		<ul class="nav navbar-nav visible-xs-block">
    			<li>
                    <a class="text-center collapsed" data-toggle="collapse" data-target="#footer">
                        <i class="icon-circle-up2"></i>
                    </a>
                </li>
    		</ul>

    		<div class="navbar-collapse collapse">
    			<div class="navbar-text">
                    &copy; <%= Date.utc_today.year %> Livingstone Market & Bus Management Company Limited
                </div>

    			<div class="navbar-right">
    				<ul class="nav navbar-nav">
    					<li><a href="#">About</a></li>
    					<li><a href="#">Terms</a></li>
    					<li><a href="#">Contact</a></li>
    				</ul>
    			</div>
    		</div>
        </div>
    	</div>
    	<!-- /footer -->


        <div id="change_password_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header w3-indigo">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Password</h4>
                </div>

                <div class="modal-body">
                    <div class="form-vertical">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Account settings -->
                                        <div class="panel panel-flat">
                                            <div class="panel-heading">
                                                <h6 class="panel-title">Account settings</h6>
                                                <div class="heading-elements">
                                                    <ul class="icons-list">

                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="panel-body">
                                                <div id="reset_form_id">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Username</label>
                                                                <input type="text" value="<%= @user.username %>" id="model_pwd_username" readonly="readonly" class="form-control">
                                                            </div>

                                                            <div class="col-md-6">
                                                                <label>Current password</label>
                                                                <input type="password" id="reset_current_password" value="" placeholder="Enter Current Password" required class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label>New password</label>
                                                                <input type="password" id="password" class="form-control" placeholder="Enter new password" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <label>Repeat password</label>
                                                                <input type="password" id="confirm_password" class="form-control" placeholder="Repeat password" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                                                                <span id='message'></span>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <button type="submit" onclick="change_user_password()" class="w3-btn w3-indigo w3-hover-orange w3-left w3-round">
                                                        <b><i class="icon-checkmark2"></i></b>Update Password
                                                    </button>

                                                    <button type="button" style="margin-left: 20px;" class="w3-btn w3-grey w3-round" data-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- /account settings -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="modal-footer">



                </div>
                <hr>


            </div>
        </div>
        </div>



    <!-- Core JS files -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/loaders/pace.min.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/jquery.min.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/core/libraries/bootstrap.min.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/loaders/blockui.min.js") %>"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
        <script src="https://www.google.com/jsapi"></script>
    	<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/visualization/d3/d3.min.js") %>"></script>
    	<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/visualization/d3/d3_tooltip.js") %>"></script>
    	<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/forms/styling/switchery.min.js") %>"></script>
    	<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/forms/styling/uniform.min.js") %>"></script>
    	<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/forms/selects/bootstrap_multiselect.js") %>"></script>
    	<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/ui/moment/moment.min.js") %>"></script>
    	<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/pickers/daterangepicker.js") %>"></script>

        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/notifications/bootbox.min.js") %>"></script>
	    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/notifications/sweet_alert.min.js") %>"></script>
	    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/notifications/notify.js") %>"></script>
	    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/pages/components_modals.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/forms/selects/select2.min.js") %>"></script>

    	<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/core/app.js") %>"></script>
    	<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/pages/dashboard.js") %>"></script>

    	<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/material/plugins/ui/ripple.min.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/datatables/js/jquery.datatables.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/dashboard.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/appMechanics.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/market.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/reporting.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/ticketing.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/AjaxCall.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/napsa.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/bank.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/user_authentication.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/password_policy.js") %>"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/form_validations.js") %>"></script>




    	<!-- /theme JS files -->
  </body>
</html>

