<div class="main-content">
  <div class="container-fluid">
    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Make Booking</h4>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-12">
          <div class="card-body">
            <mat-dialog-content>
              <form [formGroup]="bookingForm" novalidate> 
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-label>Select Slots</mat-label>
                    <mat-select id="name" formControlName="slot"
                     [ngClass]="{ 'is-invalid': submitted &amp;&amp; f.slot.errors }"
                     required
                    >
                      <mat-option>None</mat-option>
                      <div *ngIf="slot_one == 'open' && slot_one != user">
                        <mat-option value="slot_one">Slot One</mat-option>
                      </div>
                      <div *ngIf="slot_two == 'open' && slot_one != user">
                        <mat-option value="slot_two">Slot Two</mat-option>
                      </div>
                      <div *ngIf="slot_three == 'open' && slot_one != user">
                        <mat-option value="slot_three">Slot Three</mat-option>
                      </div>
                      <div *ngIf="slot_four == 'open' && slot_one != user">
                        <mat-option value="slot_four">Slot Four</mat-option>
                      </div>
                      <div *ngIf="slot_five == 'open' && slot_one != user">
                        <mat-option value="slot_five">Slot Five</mat-option>
                      </div>
                    </mat-select>
                    <!-- error -->
                    <!-- <mat-error *ngIf="errorHandling('slot', 'required')">
                        You must provide a<strong>slot</strong>
                    </mat-error> -->
                    <div
                      *ngIf="submitted &amp;&amp; f.slot.errors"
                      class="text-danger"
                    >
                      <div *ngIf="f.slot.errors.required">
                        Slot is required
                      </div>
                    </div>
                  </mat-form-field>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Destination</mat-label>
                      <mat-select (change)=loadDestinations($event)
                       formControlName="route"
                       [ngClass]="{ 'is-invalid': submitted &amp;&amp; f.route.errors }"
                        required
                      >
                        <div *ngFor="let destination of destinations">
                          <div *ngIf="destination.time_of_day == time">
                            <mat-option  [value]="destination.town_name">
                              {{destination.town_name}}
                            </mat-option>
                          </div>
                         </div>
                   </mat-select>
                   <div
                      *ngIf="submitted &amp;&amp; f.route.errors"
                      class="text-danger"
                    >
                      <div *ngIf="f.route.errors.required">
                        Route is required
                      </div>
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </form>
            </mat-dialog-content>

            <mat-dialog-actions>
              <button class="mat-raised-button" (click)="close()">Close</button>
              <button
                mat-raised-button
                class="btn btn-primary"
                (click)="save()"
              >
                Make Booking
              </button>
            </mat-dialog-actions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
