<div class="main-content">
  <div class="container-fluid">
    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Reservation Cancellation</h4>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-12">
          <div class="card-body">
            <mat-dialog-content>
              <div class="col-md-12">
                <div class="card-body">
                  <h1>Please confirm to proceed</h1>
                </div>
              </div>
            </mat-dialog-content>

            <mat-dialog-actions>
              <button class="mat-raised-button" (click)="close()">Close</button>
              <button
                mat-raised-button
                class="btn btn-danger"
                (click)="cancel()"
              >
                Confirm
              </button>
            </mat-dialog-actions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
