<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link active"
                      href="#view"
                      data-toggle="tab"
                    >
                      <i class="material-icons">settings_applications</i> Routes
                      <div class="ripple-container"></div>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link"
                      href="#day"
                      data-toggle="tab"
                    >
                      <i mat-icon class="material-icons">calender_today</i>Destination Days Settings
                      <div class="ripple-container"></div>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link"
                      href="#interval"
                      data-toggle="tab"
                    >
                      <i mat-icon class="material-icons">calender_today</i>Slot Interval Settings
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="view">
                 <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <button
                        mat-icon-button
                        (click)="onOpenDialog()"
                        matTooltip="Create Destination Time"
                        [matTooltipPosition]="'above'"
                      >
                        <i class="fa fa-plus mat-icon"></i>
                      </button>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <input
                            matInput
                            (keyup)="applyFilter($event.target.value)"
                            placeholder="Filter"
                          />
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="mat-elevation-z8">
                      <table class="table" mat-table [dataSource]="dataSource" matSort>
                        <!-- Destination Column -->
                        <ng-container matColumnDef="destination">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.town_name }}
                          </td>
                        </ng-container>

                        <!-- Day Column -->
                        <ng-container matColumnDef="day">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Day</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.day }}
                          </td>
                        </ng-container>

                        <!-- Time Column -->
                        <ng-container matColumnDef="time">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.time_of_day }}
                          </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef>Action</th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              mat-raised-button
                              matTooltip="Approve or Reject Request"
                              aria-label="Button that displays a tooltip when focused or hovered over"
                              class="btn btn-primary btn-link btn-sm btn-just-icon"
                              [matMenuTriggerFor]="menu"
                            >
                              <i class="material-icons">whatshot</i>
                            </button>

                            <mat-menu #menu="matMenu">
                              <-- <button mat-menu-item (click)="approve(row)">Approve</button> --
                              <button mat-menu-item> Reject</button>
                            </mat-menu>
                          </td>
                        </ng-container> -->

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr
                          mat-row
                          *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                      </table>

                      <mat-paginator
                        [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons
                      ></mat-paginator>
                    </div>
                  </div>
                 </div>
              </div>

              <div class="tab-pane" id="day">
                    <mat-tab-group>
                      <mat-tab label="Routes Setting">
                        <p></p>
                        <p></p>
                        <form [formGroup]="townForm">
                              <div class="row">
                                <div class="col-md-12">
                            <div class="example-container">
                              <mat-form-field class="example-full-width">
                                <input matInput
                                 formControlName="town_name"
                                  placeholder="Town Name"
                                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; f_town.town_name.errors }"
                                  required
                                >
                                <div
                                  *ngIf="submitted &amp;&amp; f_town.town_name.errors"
                                  class="text-danger"
                                >
                                  <div *ngIf="f_town.town_name.errors.required">
                                    Route is required
                                  </div>
                                </div>
                              </mat-form-field>
                            </div>
                          </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                            <div class="example-container">
                              <button mat-raised-button class="btn btn-primary" (click)="onSaveTown()">Save</button>
                            </div>
                          </div>
                            </div>
                            </form>
                      </mat-tab>
                      <mat-tab label="Days Setting">
                        <p></p>
                        <p></p>
                        <form [formGroup]="dayForm" novalidate>
                              <div class="row">
                                <div class="col-md-12">
                            <div class="example-container">
                              <mat-form-field class="example-full-width">
                                <input matInput
                                 formControlName="day"
                                  placeholder="Day"
                                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; f_day.day.errors }"
                                  required
                                >
                                <div
                                  *ngIf="submitted &amp;&amp; f_day.day.errors"
                                  class="text-danger"
                                >
                                  <div *ngIf="f_day.day.errors.required">
                                    Day is required
                                  </div>
                                </div>
                              </mat-form-field>
                            </div>
                          </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                            <div class="example-container">
                              <button mat-raised-button class="btn btn-primary" (click)="onSaveDay()">Save</button>
                            </div>
                          </div>
                            </div>
                            </form>
                      </mat-tab>
                      <mat-tab label="Time Setting">
                        <p></p>
                        <p></p>
                        <form [formGroup]="timeForm">
                              <div class="row">
                                <div class="col-md-12">
                            <div class="example-container">
                              <mat-form-field class="example-full-width">
                                <input matInput type="time"
                                 formControlName="time_of_day"
                                  placeholder="Time"
                                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; f_time.time_of_day.errors }"
                                  required
                                >
                                <div
                                  *ngIf="submitted &amp;&amp; f_time.time_of_day.errors"
                                  class="text-danger"
                                >
                                  <div *ngIf="f_time.time_of_day.errors.required">
                                    Time is required
                                  </div>
                                </div>
                              </mat-form-field>
                            </div>
                          </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                            <div class="example-container">
                              <button mat-raised-button class="btn btn-primary" (click)="onSaveTime()">Save</button>
                            </div>
                          </div>
                            </div>
                            </form>
                      </mat-tab>
                    </mat-tab-group>
              </div>

              <div class="tab-pane" id="interval">
                 <div class="row">
                  <div class="col-md-6">
                    <button
                      mat-raised-button
                      (click)="onOpenTimeDialog()"
                      matTooltip="Book Slot"
                      aria-label="Button that displays a tooltip when focused or hovered over"
                      class="btn btn-primary btn-link btn-sm btn-just-icon"
                    >
                      <i class="fa fa-plus mat-icon"></i>
                    </button>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input
                        matInput
                        (keyup)="applyFilter($event.target.value)"
                        placeholder="Filter"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="mat-elevation-z8">
                      <table class="table" mat-table [dataSource]="slotDataSource">
                        <!-- time Column -->
                        <ng-container matColumnDef="time">
                          <th mat-header-cell *matHeaderCellDef>time</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.time }}
                          </td>
                        </ng-container>

                        <!-- slot1 Column -->
                        <ng-container matColumnDef="slot_one">
                          <th mat-header-cell *matHeaderCellDef>Slot One</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.slot_one }}
                          </td>
                        </ng-container>

                        <!-- slot2 Column -->
                        <ng-container matColumnDef="slot_two">
                          <th mat-header-cell *matHeaderCellDef>Slot Two</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.slot_two }}
                          </td>
                        </ng-container>

                        <!-- slot3 Column -->
                        <ng-container matColumnDef="slot_three">
                          <th mat-header-cell *matHeaderCellDef>Slot Three</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.slot_three }}
                          </td>
                        </ng-container>

                        <!-- slot4 Column -->
                        <ng-container matColumnDef="slot_four">
                          <th mat-header-cell *matHeaderCellDef>Slot Four</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.slot_four }}
                          </td>
                        </ng-container>

                        <!-- slot5 Column -->
                        <ng-container matColumnDef="slot_five">
                          <th mat-header-cell *matHeaderCellDef>Slot Five</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.slot_five }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef>Action</th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              mat-raised-button
                              (click)="onOpenUpdateDialog(row)"
                              matTooltip="Update Slot"
                              aria-label="Button that displays a tooltip when focused or hovered over"
                              class="btn btn-primary btn-link btn-sm btn-just-icon"
                            >
                              <i class="material-icons">commute</i>
                            </button>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedSlotsColumns"></tr>
                        <tr
                          mat-row
                          *matRowDef="let row; columns: displayedSlotsColumns"
                        ></tr>
                      </table>

                      <mat-paginator
                        #SlotPaginator
                        [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons
                      ></mat-paginator>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
