<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link active"
                      href="#view"
                      data-toggle="tab"
                    >
                      <i class="material-icons">departure_board</i> Slot Requests
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="view">
                           <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Slot one</ng-template>
            <mat-form-field>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" optional>
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
                <!-- <mat-form-field>
                  <input
                    matInput
                    (keyup)="applyFilter($event.target.value)"
                    placeholder="Filter"
                  />
                </mat-form-field>

                <div class="mat-elevation-z8"> -->


       


                  <!-- <table class="table">
    <thead>
        <tr>
            <th>Time</th>
            <th>SLot One</th>
            <th>Slot Two</th>
            <th>SLot Three</th>
            <th>SLot Four</th>
            <th>SLot Five</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">05:00</td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ15es" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotTwoFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ25s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotThreeFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req3 of requ35s" [value]="req3.r_id">
                    {{req3.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFourFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ45s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFiveFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ55s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <button (click)="approve()">Approve</button>
            </td>
        </tr>
        <tr>
            <td class="text-center">06:00</td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ15s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotTwoFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ25s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotThreeFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req3 of requ35s" [value]="req3.r_id">
                    {{req3.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFourFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ45s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFiveFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ55s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="text-center">07:00</td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ15s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotTwoFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ25s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotThreeFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req3 of requ35s" [value]="req3.r_id">
                    {{req3.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFourFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ45s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFiveFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ55s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="text-center">08:00</td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ15s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotTwoFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ25s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotThreeFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req3 of requ35s" [value]="req3.r_id">
                    {{req3.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFourFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ45s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFiveFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ55s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="text-center">09:00</td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ15s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotTwoFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ25s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotThreeFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req3 of requ35s" [value]="req3.r_id">
                    {{req3.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFourFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ45s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFiveFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ55s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="text-center">10:00</td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ15s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotTwoFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ25s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotThreeFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req3 of requ35s" [value]="req3.r_id">
                    {{req3.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFourFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ45s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFiveFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ55s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="text-center">11:00</td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ15s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotTwoFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ25s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotThreeFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req3 of requ35s" [value]="req3.r_id">
                    {{req3.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFourFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ45s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFiveFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ55s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="text-center">12:00</td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ15s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotTwoFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ25s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotThreeFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req3 of requ35s" [value]="req3.r_id">
                    {{req3.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFourFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ45s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFiveFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ55s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="text-center">13:00</td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ15s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotTwoFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ25s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotThreeFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req3 of requ35s" [value]="req3.r_id">
                    {{req3.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFourFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ45s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFiveFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ55s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="text-center">14:00</td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ15s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotTwoFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ25s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotThreeFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req3 of requ35s" [value]="req3.r_id">
                    {{req3.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFourFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ45s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFiveFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ55s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="text-center">15:00</td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ15s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotTwoFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ25s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotThreeFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req3 of requ35s" [value]="req3.r_id">
                    {{req3.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFourFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ45s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                <mat-label>Requests</mat-label>
                <mat-select (change)=loadSlotFiveFive($event) [(ngModel)]="slot_one_five">
                  <mat-option *ngFor="let req of requ55s" [value]="req.r_id">
                    {{req.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
        </tr>
    </tbody>
</table> -->




                  <!-- <table class="table" style="width: 10%;" mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="time">
                      <th mat-header-cell *matHeaderCellDef>time</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.time }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="slot_one">
                      <th mat-header-cell *matHeaderCellDef>Slot 1</th>
                      <td mat-cell *matCellDef="let element">
                          <mat-form-field>
                              <mat-label>Requests</mat-label>
                              <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="req">
                                <mat-option *ngFor="let req of reqs" [value]="req.status">
                                  {{req.username}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="slot_two">
                      <th mat-header-cell *matHeaderCellDef>Slot 2</th>
                      <td mat-cell *matCellDef="let element">
                          <mat-form-field>
                              <mat-label>Requests</mat-label>
                              <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="req">
                                <mat-option *ngFor="let req of reqs" [value]="req.status">
                                  {{req.username}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="slot_three">
                      <th mat-header-cell *matHeaderCellDef>Slot 3</th>
                      <td mat-cell *matCellDef="let element">
                          <mat-form-field>
                              <mat-label>Requests</mat-label>
                              <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="req">
                                <mat-option *ngFor="let req of reqs" [value]="req.status">
                                  {{req.username}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="slot_four">
                      <th mat-header-cell *matHeaderCellDef>Slot 4</th>
                      <td mat-cell *matCellDef="let element">
                          <mat-form-field>
                              <mat-label>Requests</mat-label>
                              <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="req">
                                <mat-option *ngFor="let req of reqs" [value]="req.status">
                                  {{req.username}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="slot_five">
                      <th mat-header-cell *matHeaderCellDef>Slot 5</th>
                      <td mat-cell *matCellDef="let element">
                          <mat-form-field>
                              <mat-label>Requests</mat-label>
                              <mat-select (change)=loadSlotOneFive($event) [(ngModel)]="req">
                                <mat-option *ngFor="let req of reqs" [value]="req.status">
                                  {{req.username}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef>Action</th>
                      <td mat-cell *matCellDef="let row">
                        <button
                          mat-raised-button
                          (click)="onOpen(row)"
                          matTooltip="Book Slot"
                          aria-label="Button that displays a tooltip when focused or hovered over"
                          class="btn btn-primary btn-link btn-sm btn-just-icon"
                        >
                          <i class="material-icons">commute</i>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                  </table> -->

                  <!-- <mat-paginator
                    [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                  ></mat-paginator>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
