.card-position {
    margin: 0 auto;
  }
  
  .btn-size {
    margin-left: 35%;
  }
  
  .btn-color {
    background: #00184a;
    color: antiquewhite;
  }
  
  .forgot-color {
    color: #00184a;
  }
  
  .forgot-size {
    margin-left: 35%;
  }
  
  .navbar-color {
    background: #00184a;
  }
  