<nav class="navbar navbar-light navbar-color" style="background: #00184a;">
    <diV class="contain">
      <a class="navbar-brand" href="#">
        <img
          src="/assets/img/logo1.png"
          width="250px"
          class="d-inline-block align-top"
          alt=""
        />
      </a>
    </diV>
  </nav>
  <div class="container">
    <div class="col-md-6 card-position">
      <div class="card">
        <div class="card-header">Enter your username to receive a password reset OTP to your mobile number.</div>
        <div class="card-body">
          <!-- Form Controls: Simple Forms -->
          <div class="row mb-5">
            <div class="col-md-12">
              <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="form-group col-md-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"
                          ><i class="fa fa-user"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Username"
                        formControlName="username"
                        [ngClass]="{ 'is-invalid': submitted &amp;&amp; f.username.errors }"
                        aria-label="Username"
                        aria-describedby="basic-addon1"
                      />
                      <div
                        *ngIf="submitted &amp;&amp; f.username.errors"
                        class="text-danger"
                      >
                        <div *ngIf="f.username.errors.required">
                          Username is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <diV class="form-group col-md-12">
                    <div class="btn-size">
                      <button
                        type="submit"
                        [disabled]="loading"
                        class="btn btn-pill btn-color"
                      >
                        <span
                          *ngIf="loading"
                          class="spinner-border spinner-border-sm mr-1"
                        ></span>
                        Request OTP
                      </button>
                    </div>
                  </diV>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  